body {
  height: 100vh;
  margin: 0px;
}
body {
  background-color: #f2e9de;
  color: #55869b;
  font-family: "Noto Sans JP", sans-serif;
}
aside {
  background-color: #f9f3ec;
}
footer {
  margin-bottom: 5px;
}
h1,
h2 {
  text-align: center;
}
header h1 {
  margin: 10px;
}
aside h1 {
  margin: 15px;
  font-size: 32px;
}
footer h1 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 24px;
}
header ul {
  margin: 0px;
  margin-right: 10px;
}
.button {
  color: white;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
}
.new-note,
.save {
  background-color: #5394a0;
}
.dark-theme {
  background-color: #6f6a87;
}
.cancel {
  background-color: #d9827c;
}
#note-area {
  background-color: #f9f3ec;
  border: 2px solid #79a8e9;
  border-radius: 2px;
  resize: none;
  padding: 10px;
  margin: 0px 15px;
}
.note-page {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
}
.note-header {
  grid-column: 2/3;
  grid-row: 1/2;
}
.note-main {
  grid-column: 2/3;
  grid-row: 2/3;
}
.note-footer {
  grid-column: 2/3;
  grid-row: 3/4;
}
.note-aside {
  grid-column: 1/2;
  grid-row: 1/4;
}
.note-header ul {
  display: flex;
  list-style-type: none;
  justify-content: right;
}
.note-header li {
  padding: 5px;
}
.note-aside ul {
  list-style-type: square;
}
.note-footer div {
  display: flex;
  justify-content: center;
}
.note-section-1 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.note-section-2 {
  display: flex;
  justify-content: right;
  gap: 12.5px;
  margin: 20px;
}
.note-section {
  display: flex;
  flex-direction: column;
}
